/target/
/.classpath
/.project
/a.JPG
/abcback.txt
/b.JPG
/data.txt
/hello.txt
/hello123.txt
/hello2.txt
/hello2dest.txt
/hello3.txt
/helloencode.txt
/print.txt
/property.txt123.txt
/tempdata.ser
/test.txt
/test2.txt
/test4.txt

*.class
basicweb.iml